.panel-inscription{
  margin-top: 5%;
  padding: 0px;
}

.form-group{
  padding: 0px;
  margin: 0;
}

.form-control{
  padding: 10px;
  border-radius: 0px;
  height: 44px;
}

#nom{
  border-radius: 5px 0px 0px 0px;
}

#prenom{
  border-radius: 0px 5px 0px 0px;
}

#repetepass{
  border-radius: 0px 0px 5px 5px;
}

input
{
  font-family: Verdana;
  font-weight: lighter;
  font-style: italic;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus{
  outline: none;
}

#btn-submit-inscription{
  margin-top: 20px;
  height: 44px;
  color: white;
}

.seConnecter{
  text-align: center;
  color: white;
  margin-top: 8px;
}

.tool {
  height: 44px;
  background-color: rgba(0,0,0,0.5);
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.4);
  border-radius: 5px 5px 5px 5px;
}

.tool:before {
   content: '';
   position: absolute;
   left: 1px;
   top: 14px;
   border-style: solid;
   border-width: 10px 14px 10px 0;
   border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
 }

p {
  color: white;
  padding-top: 12px;
  padding-left: 15px;
}

#btnConnexion{
  color: white;
  background-color: rgba(1,1,1,0.8);
  padding: 20px;
}

h1{
  font-size: 6vw;
  color: white;
  font-weight: bolder;
}

h2{
  font-size: 3vw;
  color: lightgrey;
  margin-top: 0px;
  color: white;
  font-style: italic;
}
