<div class="col-md-12 text-center">
  <h1>CleanStreet</h1>
  <h2>Signaler, Optimiser, Sensibiliser</h2>
</div>
<div class="panel-inscription col-md-8 col-md-offset-2">
  <form [formGroup]="inscriptionForm" (ngSubmit)="inscription()" >

    <div class="col-md-12 col-md-offset-3">
      <div class="col-md-12 col-sm-6">
        <div class="form-group col-md-3">
          <input id="nom" formControlName="UInom"  class="form-control" [(ngModel)]="formulaire.UInom" placeholder="Nom" required>
        </div>
        <div class="form-group col-md-3">
          <input id="prenom" formControlName="UIprenom" class="form-control" [(ngModel)]="formulaire.UIprenom" placeholder="Prénom" required>
        </div>
        <div class="col-md-4">
          <div *ngIf="UInom.invalid && (UInom.dirty || UInom.touched) || UIprenom.invalid && (UIprenom.dirty || UIprenom.touched)" class="tool">
            <p>Nom ou prénom non renseigné</p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group col-md-6">
          <input type="text" formControlName="UImail" id="UImail" class="form-control" [(ngModel)]="formulaire.UImail" placeholder="Email: xyz@exemple.com" required>
        </div>
        <div class="col-md-4">
          <div *ngIf="UImail.invalid && (UImail.dirty || UImail.touched)" class="tool">
            <p>Email non renseigné ou invalide</p>
          </div>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group col-md-6">
          <input type="password" formControlName="UIpass" id="pass" [(ngModel)]="formulaire.UIpass" class="form-control" placeholder="Mot de passe" required>
        </div>
        <div class="col-md-4">
          <div *ngIf="UIpass.invalid && (UIpass.dirty || UIpass.touched)" class="tool">
            <p>Mot de passe non renseigné ou invalide</p>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group col-md-6">
          <input type="password" formControlName="UIrepetepass" id="repetepass" [(ngModel)]="formulaire.UIrepetepass" class="form-control" placeholder="Mot de passe" required>
        </div>
        <div class="col-md-4">
          <div *ngIf="UIrepetepass.invalid && (UIrepetepass.dirty || UIrepetepass.touched)" class="tool">
            <p>Le mot de passe est différent</p>
          </div>
        </div>
      </div>

        <div class="col-md-12">
            <div class="col-md-6" style="padding: 0px;">
              <button type="submit" [disabled]="!inscriptionForm.valid" id="btn-submit-inscription" class="btn btn-block">s'inscrire !</button>
            </div>
        </div>
      <div class="col-md-6 seConnecter">
        <a href="" routerLink="/connexion" routerLinkActive>Déjà inscrit ? Se connecter</a>
      </div>
    </div>
  </form>
</div>



