<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPoOajyOD44_Dwie5XRMofsEDKoM7JMrs&callback=initMap"
        async defer>
</script>
<toaster-container></toaster-container>

<div class="row ">
  <div class="col m10 offset-m1">
    <div class="popin-header">
      <h3>Signaler : </h3>
    </div>
    <div class="popin description-popin row">
      <div class="col s6">
        <form [formGroup]="signalerForm" (ngSubmit)="signaler()" >
          <div class="row">
            <p class="input-field col m12">
              <textarea id="description" formControlName="description" [(ngModel)]="formulaire.description" [name]="formulaire.description" class="materialize-textarea"></textarea>
              <label for="description">Description : </label>
              <span id="errorDescription" class="cache errorMessage">Veuillez ajouter une description à votre signalement.</span>
            </p>
          </div>
          <div class="row">
            <label for="indice">Indice de propreté : </label>
            <p class="col m12 range-field">
              <input type="range" id="indice" formControlName="indiceDeProprete" [(ngModel)]="formulaire.indiceDeProprete" min="0" max="10" />
            </p>
            <span>{{formulaire.indiceDeProprete}}</span>
            <span id="errorIndice" class="cache errorMessage">Veuillez préciser l'indice de propreté.</span>
          </div>
          <div class="row">
            <div class="col s4">
              <label>Quartier : </label><br>
              <mat-form-field>
                <mat-select id="selected" [(value)]="selected">
                  <mat-option disabled="true" value="">Choisir un quartier</mat-option>
                  <mat-option value="Fives">Fives</mat-option>
                  <mat-option value="Saint-Sauveur">Saint-Sauveur</mat-option>
                  <mat-option value="Moulins">Moulins</mat-option>
                  <mat-option value="Vieux-Lille">Vieux-Lille</mat-option>
                  <mat-option value="Wazemmes">Wazemmes</mat-option>
                </mat-select>
              </mat-form-field>
              <span id="errorSelected" class="cache errorMessage">Veuillez préciser le quartier.</span>
            </div>
          </div>
          <div class="file-field input-field">
            <div class="btn">
              <span>Image</span>
              <input id="imageSignalement" formControlName="image" [(ngModel)]="formulaire.image" type="file"
              (change)="changeListener($event)">
            </div>
            <div class="row">
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
          </div>
          <div class="col m4 offset-m4">
            <button type="submit" class="btn btn-primary btn-block btn-submit">Soumettre</button>
          </div>
        </form>
      </div>
      <div class="col s6 mapSignaler">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="13">
          <agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="'assets/images/marker_humain.png'"></agm-marker>
          <agm-marker *ngFor="let signalement of signalements" [latitude]="signalement.localisation.latitude" [longitude]="signalement.localisation.longitude"></agm-marker>
        </agm-map>
      </div>
    </div>
  </div>
</div>
