<div class="col s8 offset-s2 partie">
  <div class="row titrePrincipale">
    <h5>Signalez un lieu sale  </h5>
  </div>
  <div class="col s12">
    <div class="col s12 m6 ">
      <div class="input-field col s12">
        <textarea id="textarea1" class="materialize-textarea"></textarea>
        <label for="textarea1">Remarque : </label>
      </div>
      <div class="col s12">
        <label class="label" for="test5">Indice de propreté : </label>
        <p class="range-field">
          <input type="range" id="test5" min="0" max="10" />
        </p>
      </div>
      <div class="file-field input-field col s12">
        <div class="btn">
          <span>Photo</span>
          <input type="file" multiple>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="Upload one or more files">
        </div>
      </div>
      <div class="col s12 submit">
        <a class="waves-effect waves-light btn">Signaler !</a>
      </div>

    </div>
    <div class="col s12 m6 carte">
      <div class="col s12" id="map"></div>
    </div>
  </div>
</div>
