<div class="col-md-8 col-md-offset-2 partie">
  <div class="row titrePrincipale">
    <h3>Signalez un lieu sale  </h3>
  </div>
  <div class="col-md-6">
    <form >
      <div class="form-group">
        <label class="control-label" for="description">Description:</label>
        <textarea class="form-control" rows="5" id="description"></textarea>
      </div>
      <div class="form-group">
        <label class="control-label" for="indice">Indice de propreté:</label>
          <input type="range" id="indice" min="0" max="10" />
      </div>
      <div class="form-group">
        <label class="control-label" for="photo">Photo:</label>
        <input type="file" id="photo"/>
      </div>

      <button class="btn btn-primary">Soumettre</button>
    </form>
  </div>
    <div class="col-md-6 carte">

    </div>
</div>
