/* You can add global styles to this file, and also import other style files */
html{
  overflow-x: hidden;
  background: url('assets/images/background2.jpg') no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisÃ©e */
}


nav{
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top:0px;
}

nav a{
  color: white;
}


footer{
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 2px 2px 2px 2px;
  color: black;
  text-align: center;
  margin-top: 30px;
  padding: 30px;
}


footer .promo-caption{
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

footer .light{
  color: darkgrey;
  font-style: italic;
}

body{
  background-color: rgba(0,0,0,0);
}



#modalConnexion{
  width:20%
}


html,
body {
  margin: 0;
  padding: 0;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}


.modal {
  background-color: rgba(255,255,255,0.9);
}

.modal-header {
  color: dimgrey;
  text-align: center;
  border-bottom: 1px solid dimgrey;
}

.modal-header h4 {
  padding: 15px 0px 0px 0px;
}

nav .brand-logo {
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  left: 15px;
}
