/* You can add global styles to this file, and also import other style files */
html{
  overflow-x: hidden;
  background: url('assets/images/background2.jpg') no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisÃ©e */
}

h4{
margin-bottom:5%;
}

nav{
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top:0px;
}

nav a{
  color: white;
}



body{
  background-color: rgba(0,0,0,0);
}



#modalConnexion{
  width:20%
}
#modalInscription{
  width: 40%;
}
.modal{
  background-color: white !important;
}
html,
body {
  margin: 0;
  padding: 0;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}


.modal {
  background-color: rgba(255,255,255,0.9);
}

.modal-header {
  color: dimgrey;
  text-align: center;
  border-bottom: 1px solid dimgrey;
}

.modal-header h4 {
  padding: 15px 0px 0px 0px;
}

nav .brand-logo {
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  left: 15px;
}

.popin {
  margin-top: -28px;
  background-color: rgba(255,255,255,0.9);
  border-radius: 0px 0px 15px 15px;
  padding: 30px;
  text-align: justify;
}

.popin-header {
  background-color: rgba(56,56,56,0.9);
  color: white;
  border-radius: 15px 15px 0 0;
  padding:0px;
}



.card {
  background-color: rgba(255,255,255,0.9);
  border-radius: 10px;
}

.card h4 {
  color: dimgrey;
  font-weight: 400;
  text-decoration: underline;
}

footer {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  bottom: 0px;
  left: 0px;
  color: white;
  width: 100%;
}

.homePage {
  margin-top: 5%;
}

.icones{
  background-color: rgba(255,255,255,0.9);
}

@media only screen and (min-width: 602px)
{
  .row .col.m4 {
    width: 32.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
    margin: 0.5%;
    margin-top: 40px;
  }
}

.formulaireContact{
  background-color: rgba(255,255,255,0.9);
}


@media only screen and (max-width: 602px) {
  .popin-header {
    background-color: rgba(56,56,56,0.9);
    color: white;
    border-radius: 15px 15px 0 0;
    padding: 0px 0px 5px 15px;
    margin-top: 60px;
  }

  nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    left: 50%;
  }

  .row .col {
    margin-top: 5%;
  }
}

.listSignalements {
  margin-top: 80px;
}

.listSignalements .card{
  background-color: white;
}


.popin-map {
  margin-top: -28px;
  background-color: rgba(255,255,255,1);
  border-radius: 0px 0px 15px 15px;
  padding: 5px;
  text-align: justify;
}

#mapSignalements {
  margin-top: 80px;
}


.filtre {
  background-color: white;
}

.cache {
  display: none;
}

.errorMessage
{
  font-size: 12px;
  margin-top: -10px;
  color: red;
  font-style: italic;
}
