/* You can add global styles to this file, and also import other style files */
html{
  overflow-x: hidden;
  background: url('assets/images/background2.jpg') no-repeat center fixed;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisÃ©e */
}


nav{
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top:0px;
}

nav a{
  color: white;
}



body{
  background-color: rgba(0,0,0,0);
}



#modalConnexion{
  width:20%
}
#modalInscription{
  width: 40%;
}
.modal{
  background-color: white !important;
}
html,
body {
  margin: 0;
  padding: 0;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}


.modal {
  background-color: rgba(255,255,255,0.9);
}

.modal-header {
  color: dimgrey;
  text-align: center;
  border-bottom: 1px solid dimgrey;
}

.modal-header h4 {
  padding: 15px 0px 0px 0px;
}

nav .brand-logo {
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  left: 15px;
}

.history {
  margin-top: -28px;
  background-color: rgba(255,255,255,0.9);
  border-radius: 0px 0px 15px 15px;
  padding: 30px;
  text-align: justify;
}

.history-header {
  background-color: rgba(56,56,56,0.9);
  color: white;
  border-radius: 15px 15px 0 0;
  padding: 0px 0px 5px 15px;
}


.card {
  background-color: rgba(255,255,255,0.9);
  border-radius: 10px;
}

.card h4 {
  color: dimgrey;
  font-weight: 400;
  text-decoration: underline;
}

footer {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  bottom: 0px;
  left: 0px;
  color: white;
  width: 100%;
}

.homePage {
  margin-top: 5%;
}

.icones{
  background-color: rgba(255,255,255,0.9);
}

@media only screen and (min-width: 601px)
{
  .row .col.m4 {
    width: 32.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
    margin: 0.5%;
    margin-top: 40px;
  }
}

.formulaireContact{
  background-color: rgba(255,255,255,0.9);
}
