<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPoOajyOD44_Dwie5XRMofsEDKoM7JMrs&callback=initMap"
        async defer>
</script>

<app-alert></app-alert>
<div class="partie col-md-10 col-md-offset-1">
  <div class="titrePrincipale row"><h3>Carte des signalements</h3></div>
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="13">
    <agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="'assets/images/marker_humain.png'"></agm-marker>
    <agm-marker *ngFor="let signalement of signalements" [latitude]="signalement.localisation.latitude" [longitude]="signalement.localisation.longitude"></agm-marker>
  </agm-map>
</div>-->

<div class="row homePage">
  <div id="about" class="col m10 offset-m1">
    <div class="popin-header">
      <h2>Qui sommes nous ?</h2>
    </div>
    <div class="popin description-popin">
      <p>La propreté des rues est un problème que tout le monde rencontre et qui peut être désagréable. Si vous voyez un tas
        d’ordures sur le trottoir en bas de chez vous, un meuble cassé en plusieurs morceaux, un graffiti, un vieux matelas
        sale et abandonné, un conteneur ou une poubelle qui déborde, il suffirait d'une photo et de quelques clics pour le
        signaler grâce à la géolocalisation. Il n’existe pas, à ce jour, de moyen rapide pour se faire entendre à ce sujet.
        <br
        /> La mise en place d’une application permettant à chaque citoyen de s’impliquer dans la propreté de sa ville nous
        semble être une priorité dans une société, où l’écologie est un sujet d’actualité.</p>
      <p>CleanStreet une application gratuite d'utilisation permettant de s’impliquer dans la propreté de sa ville en signalant
        les dégradations et déchets rencontrés.
        <br />Cette application est un SOS envoyé directement à chaque citoyen : Signaler, Optimiser et Sensibiliser.</p>
    </div>
  </div>
  <div class="col m10 offset-m1">
    <div class="col s12 m4 card">
      <div class="col s4 m4">
        <img src="../../assets/images/signaler.png" class="responsive-img">
      </div>
      <div class="col s8 m8 description-popin">
        <h4 routerLink="/signalez" routerLinkActive>SIGNALER</h4>
        <p>Indiquez les déchets que vous rencontrez en un simple clic.</p>
      </div>
    </div>
    <div class="col s12 m4 card">
      <div class="col s4 m4">
        <img src="../../assets/images/optimiser.png" class="responsive-img">
      </div>
      <div class="col s8 m8 description-popin">
        <h4 routerLink="/optimisez" routerLinkActive>OPTIMISER</h4>
        <p>Voyez quels sont les quartiers les plus propres de votre ville.</p>
      </div>
    </div>
    <div class="col s12 m4 card">
      <div class="col s4 m4">
        <img src="../../assets/images/sensibiliser.png" class="responsive-img">
      </div>
      <div class="col s8 m8 description-popin">
        <h4 routerLink="/sensibilisez" routerLinkActive>SENSIBILISER</h4>
        <p>Les déchets signalés sont affichés directement sur la carte de votre région.</p>
      </div>
    </div>
  </div>
</div>