<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  Compiled and minified JavaScript
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Compiled and minified CSS -->
  <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<header>
<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo"><img class="img-responsive logo" src="../../assets/images/logo2.png"></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="sass.html">Nous contacter</a></li>
      <li><a href="badges.html">Signaler</a></li>
      <li><a href="badges.html">Optimiser</a></li>
      <li><a href="collapsible.html">Sensibiliser</a></li>
    </ul>
  </div>

</nav>
</header>
<body>
  <div class="row">
    <app-signaler></app-signaler>
  </div>
</body>



<footer>
  <div class="row partie">
    <div class="col s4">
      <div class="center promo promo-example">
        <span class="glyphicon glyphicon-trash"></span>
        <p class="promo-caption">Optimiser</p>
        <p class="light center">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components.</p>
      </div>
    </div>
    <div class="col s4">
      <div class="center promo promo-example">
        <span class="glyphicon glyphicon-map-marker"></span>
        <p class="promo-caption">Signaler</p>
        <p class="light center">By utilizing elements and principles of Material Design, we were able to create a framework that focuses on User Experience.</p>
      </div>
    </div>
    <div class="col s4">
      <div class="center promo promo-example">
        <span class="glyphicon glyphicon-user"></span>
        <p class="promo-caption">Sensibiliser</p>
        <p class="light center">We have provided detailed documentation as well as specific code examples to help new users get started.</p>
      </div>
    </div>

  </div>
</footer>
