<header>
  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">CleanStreet</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="" routerLink="/accueil" routerLinkActive>Sensibiliser</a></li>
          <li><a href="" routerLink="/optimisez" routerLinkActive>Optimiser</a></li>
          <li><a href=""  routerLink="/signalez" routerLinkActive>Signaler</a></li>
          <li>
            <form class="navbar-form navbar-right">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Rechercher un quartier">
              </div>
              <button type="submit" class="btn btn-default">Go !</button>
            </form>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a (click)="deconnexion()"><span class="glyphicon glyphicon-log-in"></span> Deconnexion</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
