<header>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Cleanstreet</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
       <!-- <li><a href="" routerLink="/accueil" routerLinkActive>Sensibiliser</a></li>
        <li><a href="" routerLink="/optimisez" routerLinkActive>Optimiser</a></li>
        <li><a href=""  routerLink="/signalez" routerLinkActive>Signaler</a></li>-->
        <li><a (click)="connexion()">Connexion</a></li>
        <li><a (click)="inscription()">Inscription</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li class="active"><a href="" routerLink="/accueil" routerLinkActive>Sensibiliser</a></li>
        <li><a href="" routerLink="/optimisez" routerLinkActive>Optimiser</a></li>
        <li><a href=""  routerLink="/signalez" routerLinkActive>Signaler</a></li>
        <li><a (click)="connexion()">Connexion</a></li>
        <li><a (click)="inscription()">Inscription</a></li>
      </ul>
    </div>
  </nav>

  <!-- Modal connexion -->
  <div id="modalConnexion" class="modal">
    <div class="modal-header"> <h4>Connexion</h4></div>
    <div class="modal-content">
      <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
        <input placeholder="" id="email" type="text" class="validate">
        <label for="email">Email</label>
      </div>
      <div class="input-field col s12">
        <i class="material-icons prefix">https</i>
        <input placeholder="" id="password" type="password" class="validate">
        <label for="password">Mot de passe</label>
      </div>
    </div>
  </div>

  <!-- Fin Modal connexion -->

  <!-- Modal inscription -->
  <div id="modalInscription" class="modal">
    <div class="modal-content">
      <p>A bunch of text</p>
    </div>
  </div>

  <!-- Fin Modal inscription -->

  <!--<nav *ngIf="true" class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">CleanStreet</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="" routerLink="/accueil" routerLinkActive>Sensibiliser</a></li>
          <li><a href="" routerLink="/optimisez" routerLinkActive>Optimiser</a></li>
          <li><a href=""  routerLink="/signalez" routerLinkActive>Signaler</a></li>
          <li>
            <form class="navbar-form navbar-right">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Rechercher un quartier">
              </div>
              <button type="submit" class="btn btn-default">Go !</button>
            </form>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a (click)="deconnexion()"><span class="glyphicon glyphicon-log-in"></span> Deconnexion</a></li>
        </ul>
      </div>
    </div>
  </nav>-->
</header>
