
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPoOajyOD44_Dwie5XRMofsEDKoM7JMrs&callback=initMap"
async defer>
</script>

<div class="row">
  <div id="mapSignalements" class="col m6 offset-m1">
    <div class="popin-header">
      <h2>Carte des signalements</h2>
    </div>
    <div class="popin-map description-popin">
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="13">
        <agm-marker [latitude]="lat" [longitude]="lng" [iconUrl]="'assets/images/marker_humain.png'"></agm-marker>
        <agm-marker  (markerClick)="markerClick(signalement.localisation)" *ngFor="let signalement of signalements" [latitude]="signalement.localisation.latitude" [longitude]="signalement.localisation.longitude"></agm-marker>
      </agm-map>
    </div>
  </div>
</div>
